<div class="container-fluid" id="about-me">
  <h1 id="name">Martin Marchese</h1>
  <h3>Software Engineer and Product Manager</h3>
  <hr class="my-6">
    <p>Hi there! My name's Martin and I'm a software engineer working as a technical product owner. Although my current job is on product management, I haven't given up on my passion for coding.</p>
    <p>During my early career years, in addition to coding, I dedicated myself to technical consulting for Identity Management solutions. As I grew professionally, I decided to transition towards project and product management in the tech industry, without abandoning the technical side that originally drew me to the tech world.</p>
    <p>Outside of my professional life, I am a father to a little girl named Leia (named after Princess Leia from Star Wars) and I live with her and my partner (Leia's mother). I enjoy cooking up delicious meals, strumming my guitar and reading about science. When I'm not immersed in these passions, you can find me lost in the worlds of Harry Potter, LOTR, Star Wars, and Disney or watching some of my favorite sports like tennis, golf, rugby, and formula 1.</p>
    <div class="row">
      <div class="col-md-8">
        <a href="https://github.com/martinmarchese" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a href="https://www.linkedin.com/in/martin-marchese-2ab44a20" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="https://www.instagram.com/martinmarchese" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="https://twitter.com/martinmarchese" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="mailto:martinmarchese@gmail.com" target="_blank"><fa-icon [icon]="faEnvelope"></fa-icon></a>
      </div>
    </div>
</div>
