<div class="container-fluid" id="experience">
  <h2 id="name">Experience</h2>
  <div class="spacer"></div>
  <div class="card" style="width: 100%">
    <div class="card-body">
      <h4 class="card-title">Software Product Manager</h4>
      <h5 class="card-subtitle mb-2 text-body-secondary">Roche Sequencing Solutions</h5>
      <h6>Jun 2022 - Present</h6>
      <p style="font-weight: bold;">Software for the biotech industry</p>
      <p class="card-text">
        Product requirements and backlog management. Primary contact between business and engineering teams. Product feature roadmap ownership. Competive analuysis and product integration into portfolio.
      </p>
      <a href="https://sequencing.roche.com/" class="card-link" target="_blank">https://sequencing.roche.com/</a>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">Technical Product Owner</h4>
      <h5 class="card-subtitle mb-2 text-body-secondary">Roche Sequencing Solutions</h5>
      <h6>Mar 2019 - Jun 2022</h6>
      <p style="font-weight: bold;">Software for the biotech industry</p>
      <p class="card-text">
        Product requirements gathering from business and technical requirements definition. Product backlog management. Requirements presentation to the eng. team. Primary contact to address requirement related questions. Demo presentations. Assist product manager with documentation and product roadmap creation.
      </p>
      <a href="https://sequencing.roche.com/" class="card-link" target="_blank">https://sequencing.roche.com/</a>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">IDM Consultant, Project Manager and Team Leader</h4>
      <h5 class="card-subtitle mb-2 text-body-secondary">Identicum</h5>
      <h6>Mar 2019 - Jun 2022</h6>
      <p style="font-weight: bold;">Identity Management Solutions</p>
      <p class="card-text">
        Started as a Jr. Consultant in 2009, this job gave me most of my experience working with big customers and learning how to understand their businesses and needs. Ended in 2019 as a Team leader with 2+ direct reports and leading project in multiple countries (US, Brazil, Mexico).</p>
        <ul>
          <li>Jr. Consultant (2009-2011)</li>
          <li>Ssr. Consultant (2011-2013)</li>
          <li>Sr. Consultant and Team Leader (2013-2019)</li>
        </ul>
      <a href="https://identicum.com/" class="card-link" target="_blank">https://identicum.com/</a>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">Freelance Web Developer</h4>
      <h5 class="card-subtitle mb-2 text-body-secondary">Web Developer</h5>
      <h6>Dec 2005 - Mar 2009</h6>
      <p style="font-weight: bold;">Web Site Development</p>
      <p class="card-text">
        My first job during college. Developed small corporate presence sites for multiple customers. As my first job I started learning about the responsibility of delivering quality products to the customer.
      </p>
    </div>
  </div>
</div>
